/* ## Layout */


body{
    width: 1440px;
    height: auto;
    margin: auto;
}

.navbar img{
    margin: 30px 100px;
}

.navbar ul{
    display: inline;
    text-decoration: none;
    margin: 10px 160px;
    padding: auto 20px;
}

.navbar li{
    display: inline;
    text-decoration: none;
    margin: 10px 20px;
    padding: auto 20px;
}

.mainArtContent{
    margin: auto 20px;
    padding: 0px;
  }

.mainContent{
   display: flex;
   width: auto;
   margin: 0px;
   padding: 0px;
   left: 20%;
}

.heroImage img{
    width: 800px;
}

.heroImage{
    width: 800px;
    height:auto;
    margin: auto 20px;
    padding: auto 10px;
}

.container{
    width: 1400px;
    display: flex;
    margin: auto;
    padding: auto;
}

.container h1{
    font-size: 4rem;
    margin: 0px;
    font-weight: bold;
}

.sideContent{
 position: relative;
 margin: 0px 20px;
 padding: 10px 20px;
}

.article{
    display: flex;
    width: 400px;
    margin: 0px;
    padding: 10px 5px;
}

.article img{
    width: 110px;
    height: 140px;
}

.artContent{
  margin: auto 20px;
}


/* ## Colors

### Primary

- Soft orange: hsl(35, 77%, 62%)
- Soft red: hsl(5, 85%, 63%)

### Neutral

Off-white: hsl(36, 100%, 99%)
Grayish blue: hsl(233, 8%, 79%)
Dark grayish blue: hsl(236, 13%, 42%)
Very dark blue: hsl(240, 100%, 5%)

## Typography

### Body Copy

- Font size (paragraph): 15px

### Font

- Family: [Inter](https://fonts.google.com/specimen/Inter)
- Weights: 400, 700, 800 */