/* ## Layout */

  html *,
  html *:before,
  html *:after {
    box-sizing: border-box;
    transition: 0.5s ease-in-out;
  }
  html i,
  html em,
  html b,
  html strong,
  html span {
    transition: none;
  }
  

body{
    width: 1440px;
    height: auto;
    margin: auto;
    outline: none;
}

p{
    color: hsl(236, 13%, 42%);
    font-size: 15px;
}

h1{
    color:hsl(240, 100%, 5%);
}

h2{
   font-size: 2.5rem;
   color:  hsl(35, 77%, 62%);
   margin-bottom: 30px;
}

h3{
    color:hsl(233, 8%, 79%);
    font-weight: bold;
    font-size: 2rem;
}

h5 a:hover{
  color: hsl(5, 85%, 63%);;
}

h6 a:hover{
  color: hsl(5, 85%, 63%);;
}

hr{
    color:hsl(36, 100%, 99%);
    margin: 40px auto;
}

.container-fluid ul{
  margin-left: 50%;
  font-weight: bold;
}


nav {
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
    background-color: transparent;
}


nav ul li a {
  display: inline-block;
  text-decoration: none;
  color: hsl(236, 13%, 42%);
  text-transform: uppercase;
  margin: 0px 12px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #555;
}

/* .navbar a{
    padding: auto; 
     text-decoration: none;
    color: hsl(236, 13%, 42%);
    /* transition: 0.5s;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    transform-origin: left; */
 


 /* .navbar a:hover{
    font-size: large;
    color: hsl(5, 85%, 63%);
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
    transform:scaleX(0);
    z-index: 1;
} */

.navbar ul li a {
  position: relative;
}
.navbar ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: rgb(44, 44, 44);
  height: 1px;
}
.navbar ul li a:hover:after {
  width: 100%;
}

.navbar ul li a {
  transition: all 0.5s;
}

.navbar ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}
.navbar ul li a:hover {
  color: hsl(5, 85%, 63%);
  z-index: 1;
}
.navbar ul li a:hover:after {
  z-index: -10;
  animation:  1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

.navbar img{
    margin: auto 0%;
}

/* .navbar ul{
    display: inline; 
    margin: 10px 120px;
    padding: auto ;
    
}

.navbar li{
    display: inline;
    text-decoration: none;
    margin: 10px 20px;
    padding: auto;
} */

.btn{
    color:  hsl(240, 100%, 5%);
    font-weight: bold;
    border-width: 1px;
    border-style: solid ;
}

  [class^=btn] {
    margin-top: 60px;
    width: 200px;
    height: 50px;
    border-radius: 0%;
    position: relative;
    display: block;
    overflow: hidden;
    text-transform: uppercase;
    border: 1px solid currentColor;
  }


  .btn:before {
    content: "";
    position: absolute;
    color: hsl(36, 100%, 99%) ;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: hsl(5, 85%, 63%);
    opacity: 50%;
    transform: translateX(-100%);
  }

  

  .btn:hover:before {
    transform: translateX(0);
  }
  

.mainArtContent{
    margin: 30px 0px 0px 0px;
    padding: 0px;
}


.mainContent{
   display: flex;
   width: auto;

}

.heroImage img{
    width: 800px;
    padding: 0px 30px 0px 0px;
}

.heroImage{
    width: 800px;
    height:auto;
    padding: 0px 30px 0px 0px;
}

.container{
    width: 1150px;
    display: flex;
    margin: auto;
    padding: 0px;
}

.container h1{
    font-size: 3.5rem;
    margin: 0px;
    padding: 10px 120px 10px 0px;
    font-weight: bold;
}

.sideContent{
    position: relative;
    width: 350px;
    margin: 0px;
    padding: 20px 30px;
    background-color: hsl(240, 100%, 5%);
}

.sideContent p{
   color: hsl(233, 8%, 79%);
}

.sideContent a{
    text-decoration: none;
    color:hsl(36, 100%, 99%);
    font-weight: bold;
}


.article{
    display: flex;
    width: 400px;
    margin: 0px;
    padding: 50px 40px 40px 0px;
}

.article img{
    width: 100px;
    height: 140px;
}

.artContent{
    margin: auto 20px;
}

.artContent a{
    text-decoration: none;
    font-weight: bold;
    color:hsl(240, 100%, 5%);
 }

 @keyframes navbar {
    0% {
      width: 0%;
      height: 1px;
    }
    50% {
      width: 100%;
      height: 1px;
    }
    100% {
      width: 100%;
      height: 100%;
      background: #333;
    }
  }


  @media screen and (max-width: 768px) {

  body{
    width: 100%;
    margin: auto 1%;
  }

  .container-fluid ul{
    margin-left: 0%;
    text-align: left;
  }
  

  .navbar{
    display:block;
    width: auto;
    height: auto;
    margin: auto 2% ;
  }

  #mainContent{
    display:block;
    width: auto;
    height: auto;
    margin: auto 2%;
  }
  
  .heroImage img{
    display:block;
    width: 110%;
    height: auto;
    margin: auto 2% ;
  }

  .heroImage {
    width: 100%;
    height: auto;
    margin: auto;
  }

  .mainContent{
    display: block;
    width: 100%;
    margin: auto 2%;
    margin-bottom: 5%;
  }

  #sideContent{
   display: block;
   position: relative;
   width: auto;
   height: auto;
   margin: auto 2%;
  } 

  #footerBunner{
    display: block;
    justify-content:center;
    width: auto;
    height: auto;
    margin: auto 5%;
  }
  }
/* ## Colors

### Primary

- Soft orange: hsl(35, 77%, 62%)
- Soft red: hsl(5, 85%, 63%)

### Neutral

Off-white: hsl(36, 100%, 99%)
Grayish blue: hsl(233, 8%, 79%)
Dark grayish blue: hsl(236, 13%, 42%)
Very dark blue: hsl(240, 100%, 5%)

## Typography

### Body Copy

- Font size (paragraph): 15px

### Font

- Family: [Inter](https://fonts.google.com/specimen/Inter)
- Weights: 400, 700, 800 */