/* ## Layout */


body{
    width: 1440px;
    height: auto;
    margin: auto;
}

p{
    color: hsl(236, 13%, 42%);
    font-size: 15px;
}

h1{
    color:hsl(240, 100%, 5%);
}

h2{
   font-size: 2.5rem;
   color:  hsl(35, 77%, 62%);
}

h3{
 color:hsl(233, 8%, 79%);
 font-weight: bold;
 font-size: 2rem;
}

h4{
    
}

h5{
    color:white;
    font-weight: bold;
}

h6{
    font-weight: bold;
}

hr{
    color:hsl(233, 8%, 79%);
}


.navbar a{
    text-decoration: none;
}

.navbar img{
    margin: 30px 120px;
}

.navbar ul{
    display: inline; 
    margin: 10px 100px;
    padding: auto 20px;
}

.navbar li{
    display: inline;
    text-decoration: none;
    margin: 10px 20px;
    padding: auto 20px;
}

.mainArtContent{
    margin: auto 20px;
    padding: 0px;
  }

.mainContent{
   display: flex;
   width: auto;
    margin: 0px;
   left: 20%;
}

.heroImage img{
    width: 800px;
    padding: 0px 30px 0px 0px;
}

.heroImage{
    width: 800px;
    height:auto;
    padding: 0px 30px 0px 0px;
}

.container{
    width: 1200px;
    display: flex;
    margin: auto;
    padding: 0px;
}

.container h1{
    font-size: 3rem;
    margin: 0px;
    font-weight: bold;
}

.sideContent{
 position: relative;
 width: 400px;
 margin: 0px;
 padding: 20px 50px;
 background-color: hsl(240, 100%, 5%);
}

.article{
    display: flex;
    width: 400px;
    margin: 0px;
    padding: 30px 10px 30px 0px;
}

.article img{
    width: 100px;
    height: 140px;
}

.artContent{
  margin: auto 20px;
}


/* ## Colors

### Primary

- Soft orange: hsl(35, 77%, 62%)
- Soft red: hsl(5, 85%, 63%)

### Neutral

Off-white: hsl(36, 100%, 99%)
Grayish blue: hsl(233, 8%, 79%)
Dark grayish blue: hsl(236, 13%, 42%)
Very dark blue: hsl(240, 100%, 5%)

## Typography

### Body Copy

- Font size (paragraph): 15px

### Font

- Family: [Inter](https://fonts.google.com/specimen/Inter)
- Weights: 400, 700, 800 */